*
{
    padding: 0px;
    margin: 0px;
}
.menubar
{
    background-color: rgb(12, 12, 93);
    text-align: center;
}
.menubar ul
{
    display: inline-flex;
    list-style: none;
}
.menubar ul li
{
    width: 200px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
.menubar ul li a
{
    text-decoration: none;
    color: azure;
    font-family:Arial, Helvetica, sans-serif;
}
.menubar .fa
{
    margin-right: 10px;
    color: white;
}
.menubar ul li:hover
{
    /* background-color: rgb(65, 253, 100); */
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color:white;
    text-decoration-thickness: 2px;
}
.submenu
{
    display: none;
}
.menubar ul li:hover .submenu
{
    display: block;
    position: absolute;
    margin-top: 2px;
    margin-left: 10px;
    /* font-weight: bold; */
    font-size: larger;
}
.menubar ul li:hover .submenu ul
{
    display: block;
}
.menubar ul li:hover .submenu ul li
{
    width: 150px;
    height: 20px;
    padding: 10px;
    border-bottom: 2px  white;
    border-radius: 15px;
    text-align: left;
    background-color: rgb(175, 9, 221);
    text-decoration: none;
}
.menubar ul li:hover .submenu ul li a:hover
{
    color: rgb(122, 238, 120);
    border-radius: 10px;
}
.box
{
    width: 1536px;
    height: 60px;
    /* border: 2px solid red; */
    background-color: rgb(243, 247, 243);
    position: relative;
    bottom:4px ;
    /* margin-top: 0px; */
}