.maindiv
{
    margin-top: 100px;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: auto;
    background-color:white;
    border-radius: 20px;
}
input
{
    width: 200px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    background-color: rgb(242, 244, 244);
}
#image
{
    margin-top: 30px;
    /* width: 250px; */
    /* height: 200px; */
    /* background-color: rgb(250, 206, 241); */
    margin-left: 30px;
    font-size: 20px;
}
button
{
    width: 300px;
    margin-left: 30px;
    height: 60px;
    background-color: rgb(11, 227, 97);
    border-radius: 20px;
    font-size: larger;
}